// Aerochimps CSS Reset for HTML5 based on html5doctor.com reset v1.6.1
// Authors:
// Richard Clark - http://richclarkdesign.com
// Idmar Ramos Junior - https://id.etc.br
// v1.0.1
// Last Updated: 2015-04-03

// Change border color to suit your needs

////////////////////////////////////////////////////////////////////////////////
// Change box-model
////////////////////////////////////////////////////////////////////////////////
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

////////////////////////////////////////////////////////////////////////////////
// Scafolding
////////////////////////////////////////////////////////////////////////////////
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

ins {
	color: #fff;
	text-decoration: none;
	background-color: rgba(80, 60, 40, 0.5);
}

mark {
	color: #fff;
	font-style: italic;
	font-weight: bold;
	background-color: rgba(80, 60, 40, 0.5);
}

del {
	text-decoration: line-through;
}

////////////////////////////////////////////////////////////////////////////////
// Abbreviations and definitions
////////////////////////////////////////////////////////////////////////////////
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

////////////////////////////////////////////////////////////////////////////////
// Table
////////////////////////////////////////////////////////////////////////////////
table {
	border-collapse: collapse;
	border-spacing: 0;
}

////////////////////////////////////////////////////////////////////////////////
// hr
////////////////////////////////////////////////////////////////////////////////
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

////////////////////////////////////////////////////////////////////////////////
// Form elements
////////////////////////////////////////////////////////////////////////////////
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input,
select,
textarea {
	font-size: 100%;
	vertical-align: middle;
}

input{
	border-radius: 0;
	-webkit-appearance: none; //Reset mobile webkit styles
}

////////////////////////////////////////////////////////////////////////////////
// ::selection
////////////////////////////////////////////////////////////////////////////////
::selection {
	color: #fff;
	background-color: #1bc5bb;
}

////////////////////////////////////////////////////////////////////////////////
// Text elements
////////////////////////////////////////////////////////////////////////////////
b,
strong {
	font-weight: normal;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
	content: none;
}

////////////////////////////////////////////////////////////////////////////////
// Links
////////////////////////////////////////////////////////////////////////////////
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	cursor: pointer;
	background: transparent;
}

a:hover {
	text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////////////
// Reset outline in :focus
////////////////////////////////////////////////////////////////////////////////
a:focus,
button:focus,
input:focus {
	outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
}

////////////////////////////////////////////////////////////////////////////////
// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack
////////////////////////////////////////////////////////////////////////////////
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;  // For IE 6/7 (trigger hasLayout)
}